<!DOCTYPE html>
<html>
    <head>
        <title>COGO's blog</title>
    </head>
    <body>
       <div>
           <h1><a href="">COGO Blog</a></h1>
       </div>

    <div>
        <p>published: 11/10/2016</p>
        <h2><a href="">My first post</a></h2>
        <p>Hello, This blog is for computer nerds!</p>

        <div>
            <p>published: 11/10/2016</p>
            <h2><a href="">My second post</a></h2>
            <p>Sunrin Internet High School 1th grade class 2 woojin</p>
        </div>
    </div>
    </body>
</html>